---
title: "Lutopia Site"
layout: default
description: "Lutòpia Wearable Tech Workshop"
---

<section class="mt-4 mb-5">

      
    <div class="container mb-4">
        <h1 class="font-weight-bold title titleC" >Lutòpia Wearable Tech Workshop</h1>    
        <h4 class="titleC">Wearable - Communications - Lights - Decorations</h4>
        <p class="titleC"></p>
  
        <div class="container">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="./assets/images/01.jpg" class="img-fluid">
              <h2 class="titleC">Make Electronics Jewelry</h3>
              <h7 class="titleC">Easy introduction to create interactive Jewelery</h7>
            </div>
            <div class="col-md-4 text-center">
              <img src="./assets/images/05.png" class="img-fluid">
              <h2 class="titleC">Decorate Your Cloths and Accessories</h3>
              <h7 class="titleC">Graft EL Wires or LED Strips into your cloths</h7>
            </div>
            <div class="col-md-4 text-center">
              <img src="./assets/images/03.jpg" class="img-fluid">
              <h2 class="titleC">Create and Hack Masks and Sticks</h3>
              <h7 class="titleC">Customize your Mask & Costumes to make our Festival 🕺</h7>
            </div>
          </div>
        </div>

      </div>

      <div class="container mb-4 titleC text-center">
        <!-- <h2 class="font-weight-bold title">Latest Project</h2>-->
        <div class="row justify-content-center">
            <div class="col-auto">
              

              <a href="./Ozora-2024-Meshtastic-101/" class="btn btn-primary">Check out Lutòpia latest workshop idea!</a>
              </div>
        </div>
    </div>


      <div class="container mb-4 titleC">
        <h2 class="font-weight-bold title">Explore</h1>    
        <div class="row titleC">
        {% include menu-categories.html %}
        </div>
    </div>
    
<div class="container-fluid">
    
    <div class="card-columns">        
        {% for post in paginator.posts %}
            {% include card-post.html %}
        {% endfor %}            
    </div>

    
</div>    
  
</section>